<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body> 
    <nav class="buttons">
        <a href="/">Home</a>
        <a href="/works">Works</a>
        <a href="/about">About</a>    
    </nav>
   <h1>About Baby Yoda</h1>
        <p>Grogu is a member of the same alien species as the Star Wars character Yoda.[6][7] He is 50 years old during the events of The Mandalorian, but still appears to be an infant because of the pace at which that species matures.[8][9][10] The species has never been given a proper name because Star Wars creator George Lucas wanted Yoda to maintain a sense of mystery.[2][4][11] Until Chapter 13 (i.e. episode 5 of season 2) of The Mandalorian, Grogu was not identified by a proper name, being referred to by sympathetic characters as "the child", "the kid", or "the baby", and by the antagonists as "the asset", "the bounty", "the target", or "the donor".</p>
   <footer>Made by Bernardo and Silvi :D.</footer>
</body>
</html>