<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <nav class="buttons">
        <a href="/">Home</a>
        <a href="/works">Works</a>
        <a href="/about">About</a>   
    </nav>
    <h1>Works</h1>
    <img class="images" src="https://imgix.bustle.com/uploads/image/2019/11/15/d5958a30-1eef-4a52-8cd7-50c117b647c3-screen-shot-2019-11-15-at-105922-am.png?w=800&fit=crop&crop=faces&auto=format%2Ccompress" alt="Cutie using force.">
    <p>Cutie using force.</p>
    <img class="images" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSaPsaEgUEtSWk8E0PSB94VR3o97egpC2l2kZJXuOXM11U_VVoRtoVsup1suH8lWVvcIJk&usqp=CAU" alt="Froggie Party.">
    <p>Froggie Party.</p>
    <img class="images" src="https://cdn.citybeat.com/files/base/scomm/cb/image/2020/01/16x9/960w/Baby_Yoda_Sipping_Soup.5e18abc2634bc.jpg" alt="I'm a british gentlemen.">
    <p>I'm a british gentlemen.</p>    
    <footer>Made by Bernardo and Silvi :D.</footer>
</body>
</html>